body {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  font-size: 20px;
}

.snapshot {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.input {
  text-align: center;
  margin: 30px auto;
}

.input>input {
  padding: 10px 40px;
  border-radius: 20px;
}